DB_HOST=tofado-db.c3gkskgigunu.eu-north-1.rds.amazonaws.com
DB_PORT=3306
DB_USER=admin
DB_PASSWORD="Keep1t#simple"
DB_NAME=tofado_merchant
JWT_SECRET=change_this_to_a_long_random_secret
CLIENT_URL=http://localhost:5173
NODE_ENV=development
